<template>
    <div id="app">
        <div>
            <b-navbar toggleable="lg" type="dark" variant="primary">
                <b-navbar-brand href="#">Raffle</b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item :to="{ path: '/'}">Home</b-nav-item>
                        <b-nav-item to="about">About</b-nav-item>
                    </b-navbar-nav>

                    <!-- Right aligned nav items -->
                    <b-navbar-nav class="ml-auto">
                        <b-nav-item href="https://gitlab.com/groogle/mn-raffle" right>Git Repository</b-nav-item>
                    </b-navbar-nav>

                </b-collapse>
            </b-navbar>
        </div>
        <router-view/>
        <footer class="footer">
            <div>
                <span>&copy; 2020 PuraVida Software</span>
                <img src="./assets/okteto.png" style="width:300px;height:50px;">

            </div>
        </footer>
    </div>
</template>

<style>
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }
    footer{
        background-color: #1e222b !important;
        color: aliceblue;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        text-align: right;
    }

</style>
