<template>
    <div class="about">
        <b-container>
            <LoginPanel/>
        </b-container>
    </div>
</template>


<script>
    // @ is an alias to /src
    import LoginPanel from '@/components/LoginPanel.vue'

    export default {
        name: 'Home',
        components: {
            LoginPanel
        }
    }
</script>
