<template>
    <div class="container">
        <b-jumbotron>
            <template v-slot:header>Groogle Raffle</template>

            <template v-slot:lead>
                Welcome to Groogle Raffle Application
            </template>

            <hr class="my-4">

            <p>
                Make a raffle among the attendees of your meetup and forget random.org
            </p>
        </b-jumbotron>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class HelloWorld extends Vue {

    }
</script>
