<template>
    <div>
        <b-table striped hover small title="Participants" :fields="Participants"  :items="$store.state.participants" :busy="$store.state.loader.loading>0">
            <th>Participants</th>
            <template v-slot:table-busy>
                <div class="text-center text-danger my-2">
                    <b-spinner class="align-middle"></b-spinner>
                    <strong>Loading...</strong>
                </div>
            </template>
            <template v-slot:head(name)>
                <span class="text-dark"><b-icon-people-fill></b-icon-people-fill> Participants </span>
            </template>
        </b-table>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'

    @Component({

    })
    export default class Participants extends Vue {
        created(){
            this.$store.dispatch('fetchParticipants')
        }
    }
</script>
