<template>
    <div class="container" >
        <b-row class = "mt-5" v-if="$store.state.user.name">
            <h5>Welcome &nbsp;</h5> <h5 class="text-secondary"> {{$store.state.user.name}} </h5>
        </b-row>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class UserPanel extends Vue {

        created(){
            this.$store.dispatch('fetchUser')
        }

    }
</script>

