<template>
    <div>
        <b-modal id="modal-winner" title="The Winner is..."
                 header-bg-variant="dark"
                 header-text-variant="light"
                 body-bg-variant="light"
                 body-text-variant="dark"
                 footer-bg-variant="warning"
                 footer-text-variant="dark"
        >

            <template v-slot:default="{  }">
                <h1> {{lastWinner}}
                </h1>
                <div>
                    <img v-bind:src=randomImage />
                </div>

            </template>
            <template v-slot:modal-footer="{ }">
                <b-button size="sm" variant="primary" @click="acceptWinner">YES <b-icon-check></b-icon-check></b-button>
                <b-button size="sm"  @click="rejectWinner">REJECT <b-icon-x></b-icon-x></b-button>
                <b-button  size="sm" variant="dark" @click="notPresent">NOT PRESSENT <b-icon-person-dash-fill></b-icon-person-dash-fill></b-button>
            </template>

        </b-modal>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';

    @Component
    export default class WinnerModal extends Vue {

        private lastWinner = ''
        private IMAGE_PATH  ='https://picsum.photos/450/125/?image='
        private randomValue = Math.floor(Math.random() * 40) + 1
        private randomImage = this.IMAGE_PATH + this.randomValue

        created(){
            this.$store.subscribe( (mutation, state) =>{
                if( mutation.type === 'winner'){
                    this.lastWinner = state.winner
                    this.$bvModal.show('modal-winner')
                    this.generateRandomImage()
                }
            })
        }

        acceptWinner(){
            this.$bvModal.hide('modal-winner')
            this.$store.dispatch('acceptWinner')
        }

        rejectWinner(){
            this.$bvModal.hide('modal-winner')
            this.$store.commit('rejectWinner')
        }

        notPresent(){
            this.$bvModal.hide('modal-winner')
            this.$store.dispatch('notPresent')
        }
        generateRandomImage(){
            this.$bvModal.hide('modal-winner')
            this.randomValue = Math.floor(Math.random() * 40) + 1
            this.randomImage = this.IMAGE_PATH + this.randomValue

        }

    }

</script>
